langchain
langchain-community
chromadb
docx2txt
python-docx
google-generativeai
streamlit
faiss-cpu
sentence-transformers
groq
jupyter-notebook-parser
pyarrow
openpyxl
message-ix
gamspy_base
gamsapi
ixmp4